@import "../../sass/variables.scss";

.managers_tree_box {
  width: 35%;
  background-color: var(--bg-section);
  border-radius: 5px;
  overflow: hidden;
  height: fit-content;

  .head {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);

    h4 {
      font-size: 19px;
      margin-bottom: 0;
    }

    i {
      color: $primary-color;
    }
  }

  .content_box {
    padding: 20px;

    .search_input {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid var(--border-color);
      border-radius: 3px;
      padding: 5px;

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
      }

      svg {
        width: 18px;
        color: gray;
      }
    }

    .result {
      height: 70vh;
      padding: 20px 0;

      .css-2cq9xd-MuiTreeView-root {
        height: 100% !important;
      }
    }
  }
}
