@import "../../sass/variables.scss";

.pricing_table_box {
  width: 65%;
  background-color: white;
  height: fit-content;

  .pricing_table {
    .head {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid rgb(217, 217, 217);

      h4 {
        font-size: 19px;
        margin-bottom: 0;
      }

      i {
        color: $primary-color;
      }
    }

    .table {
      overflow-x: auto;

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        height: 7px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
      }

      &:hover {
        &:-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: rgb(225, 225, 225);
        }
      }
    }

    table {
      background-color: white;
      width: 100%;
      border-radius: 5px;

      thead {
        tr {
          > *:nth-child(even) {
            background-color: #eef1f4;
          }
        }

        th {
          padding: 10px;
          border-bottom: 1px solid #e2e2e2;
          min-width: 170px;
          text-align: start;
        }
      }

      tbody {
        tr {
          &:not(:last-child) {
            td {
              border-bottom: 1px solid #e2e2e2;
            }
          }
        }
        td {
          padding: 10px;

          input {
            border: 1px solid rgb(215, 215, 215);
            border-radius: 3px;
            padding: 0 8px;
            outline: none;
          }

          .remove {
            color: rgb(243, 40, 5);
          }

          .save {
            color: #5588da;
          }
        }
      }
    }

    .btns {
      padding: 10px;
      border-top: 1px solid rgb(223, 223, 223);
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        padding: 5px 30px;
        border: none;
        border-radius: 5px;
        color: white;

        &.btn_ok {
          background-color: $primary-color;
        }

        &.btn_close {
          background-color: $main-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .pricing_table_box {
    .pricing_table {
      .btns {
        gap: 10px;
        button {
          padding: 3px 15px;
          font-size: 14px;
        }
      }
    }
  }
}
