// start issuing_invoice_section
.issuing_invoice {
  margin: 0 10px;
  margin-top: 20px;
  background-color: var(--bg-section);
  border-radius: 5px;

  .search_client {
    margin-bottom: 30px;

    input {
      width: 100%;
      padding: 5px;
      border: 1px solid var(--border-color);
      background-color: transparent;
      border-radius: 3px;
      max-width: 200px;
    }
  }

  .issuing_invoice_content {
    .items {
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 30px 0;
      border-bottom: 1px solid var(--border-color);

      .item {
        h4 {
          font-weight: 700;
          font-size: 17px;
          margin-bottom: 5px;
        }

        span {
          color: gray;
        }
      }
    }

    .add_service {
      padding: 30px 0;

      .btns {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
// end issuing_invoice_section
