@import "../../../sass/variables.scss";

.settings_license_content {
  padding: 20px;
  max-width: 700px;
  margin: auto;

  .boxs_details {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 20px;

    .item {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }

      h6 {
        margin-bottom: 0;
      }

      span {
        font-size: 15px;
        color: gray;
      }
    }
  }

  .btns_actions {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .btn_action {
      padding: 5px 18px;
      background-color: black;
      color: white;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 15px;

      &.reload {
        background-color: $primary-color;
      }
    }
  }
}
