@import "../../sass/variables.scss";

.container_table {
  margin-top: 30px;
  background-color: var(--bg-section);
  padding: 15px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  .MuiDataGrid-root {
    border: 0;
    color: var(--text-color);
  }

  .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
  }

  .MuiDataGrid-columnHeaders,
  .MuiDataGrid-footerContainer,
  .pagination {
    background-color: $primary-color;
    color: white;
  }

  .MuiDataGrid-footerContainer {
    display: none;
  }

  .MuiToolbar-root {
    color: white !important;
  }

  .MuiButtonBase-root {
    color: var(--text-color) !important;
  }

  .MuiDataGrid-cell--textRight {
    justify-content: flex-start !important;
  }

  .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    justify-content: center !important;
  }

  .css-128fb87-MuiDataGrid-toolbarContainer {
    margin-right: auto !important;
  }

  .MuiButtonBase-root[aria-label="Export"] {
    display: none;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .page_count_component,
    .per_page_component {
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 5px;

      .page_item {
        padding: 4px 0;
        width: 40px;
        text-align: center;
        cursor: pointer;

        &:not(:last-child) {
          border-left: 1px solid white;
        }

        &.active {
          background-color: white;
          color: $primary-color;
        }
      }
    }

    .per_page_component {
      direction: ltr;

      .page_item {
        border-left: 1px solid white;
      }
    }
  }

  .status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container_table {
    .pagination {
      flex-direction: column;
      gap: 10px;

      .page_count_component,
      .per_page_component {
        .page_item {
          padding: 1px 0;
          width: 35px;
          font-size: 13px;
        }
      }
    }
  }
}
